{% extends 'base.html.twig' %}

{% block title %}Salle de sport{% endblock %}

{% block content %}

    <div class="row ">
        <div class="col-md-2"></div>
        <div class="col-md-4 mt-5">
            <div class="card" style="width: 18rem;">

                <div class="card-body overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
                    <b class="card-title">{{ user }}</b>
                    <br>
                    <br>
                    <p class="card-text">{{ structure.address}}</p>
                    <br>
                    <p class="card-text">{{ structure.email}}</p>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="px-4 sm:px-6 lg:px-8">

                <div class="mt-8 flex flex-col">
                    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                            <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
                                <table class="min-w-full divide-y divide-gray-300">

                                    <tbody class="divide-y divide-gray-200 bg-white">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <br>
    <!-- This example requires Tailwind CSS v2.0+ -->


{% endblock %}
